@model UsersIndexViewModel

<div class="viewsContainer">

    <h1>Search for users</h1>

    <form action="/Users" method="get">
        <input type="text" name="Search" placeholder="Search" value="@Model.Search"/>
        <input type="submit" value="Search" />

    </form>

    @* <hr/> *@

    <h2 style="margin-top:40px;">Results</h2>

    @foreach (var user in Model.Result)
    {
        <p>
            <a href="/Users/@user.Id">@user.Name</a>
            
        </p>
    }

</div>