* {
    font-family: Helvetica, sans-serif;
}

html {
    font-size: 14px;
    background-color: ghostwhite; 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
    background-color: ghostwhite;
}

.border-top {
    border-top: 0px solid ghostwhite !important;
}

.some-space{
    height:200px;
}

.container {
    /*    background-color: ghostwhite;*/
}

.WholeNavbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:50px;
}

.navbar_style1 {
    display: flex;
    background-color: ghostwhite;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbar_style2 {
    display: flex;
    background-color: lightblue;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbar_style3 {
    display: flex;
    background-color: lightgoldenrodyellow;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbar_style4 {
    display: flex;
    background-color: lightsalmon;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbar_style5 {
    display: flex;
    background-color: lightcoral;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbar_style6 {
    display: flex;
    background-color: lightcyan;
    width: 100%;
    align-items: center;
    height: 80px;
}

.navbarLinksCointainer_style1 {
    display: flex;
    background-color: ghostwhite;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.navbarLinksCointainer_style2 {
    display: flex;
    background-color: lightblue;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbarLinksCointainer_style3 {
    display: flex;
    background-color: lightgoldenrodyellow;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbarLinksCointainer_style4 {
    display: flex;
    background-color: lightsalmon;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbarLinksCointainer_style5 {
    display: flex;
    background-color: lightcoral;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbarLinksCointainer_style6 {
    display: flex;
    background-color: lightcyan;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.switchThemeButton {
    position: absolute;
    top: 110px;
    right: 30px;
    width: 100px;
    height: 50px;
    background-color: white;
    font-size: 12px;
}

.switchThemeButton:hover {
    cursor: pointer;
    background-color: lightgray;
}

a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 14px;
}

button {
    display: inline;
}

p {
    color: black;

}

.navlist-left {
    display: flex;
   justify-content:space-between;
   width: 200px;
   margin-top: revert;
}

.navlist-right {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: revert;
}

li {
    list-style-type: none;
    margin: 0 40px 0 0;
}

.homeLogo{
    margin: 0 40px 0 40px;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    width: 400px;
}

.logoutButton {
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: black;
    height: 32px;
    width:80px;
    font-weight: bolder;
    font-size: 12px;
}

.logoutButton:hover{
    cursor: pointer;
    background-color: lightgray;
}

.viewsContainer{
    margin: 50px 0 0 200px;
}

.newBroadcastForm{
    
}

.newBroadcastFormFlexContainer {
    display: flex;

}

.textArea {
    margin: 0 10px 0 0;
    width: 466px;
}
.profilePictureSmall {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profilePictureBig {
    margin: 20px 0 0 0;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.postButton{
    margin: 10px 0 35px 0;
    width: 466px;
    height: 30px
}

.broadcast {
    background-color: white;
    /*width: fit-content;*/
    width: 800px;
    padding: 0 10px 12px 12px;
    margin: 0 0 30px 0;
    border-radius: 5px;
    border: 1px solid #e2e2e2
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*.navbar.style2 {
    display: flex;
                    background-color: #1877F2;
    width: 100%;
    align-items: center;
    height: 80px;
}*/

.navbarLinksCointainerStyle2 {
    display: flex;
    background-color: #1877F2;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

    .navbarLinksCointainerStyle2 a {
        color: white;
    }


.homeLogoStyle2 {
    margin: 0 40px 0 40px;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    width: 400px;
}

.broadcastStyle2 {
    background-color: white;
    /*width: fit-content;*/
    width: 800px;
    padding: 0 10px 12px 12px;
    margin: 0 0 30px 0;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
}