@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@


<ul class="navlist-right" @* class="navbar-nav" *@>
@if (SignInManager.IsSignedIn(User))
{
    <li @* class="nav-item" *@>
             <a class="nav-link text-dark" href="/RecommendedUsers">RECOMMENDED USERS TO FOLLOW</a>
    </li>
    <li @* class="nav-item" *@>
            <a class="nav-link text-dark" href="/Profile">PROFILE</a>
    </li>
    <li @* class="nav-item" *@>
            <a class="nav-link text-dark" href="/Users">SEARCH USERS</a>
    </li>
    <li @* class="nav-item" *@>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="logoutButton ">LOGOUT</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </li>
}
</ul>
